name: NodeJS with Webpack

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  # This job installs Node.js
  setup-node:
    runs-on: ubuntu-latest
    steps:
      - name: Use Node.js 20.x
        uses: actions/setup-node@v4
        with:
          node-version: 20.x

  # This job checks out code from the repo
  checkout:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

  # This job does the core processing
  process:
    runs-on: ubuntu-latest
  
    steps:
      - name: Run a one-line script
        run: echo Hello, world!

      - name: Run a multi-line script
        run: |
          echo Add other actions to build
          echo test, and deploy your porject.
      
      - name: Install Dependencies
        run: |
          npm i
          npm run build
          npm run test
        working-directory: .
        
    # - name: Build
    #   run: |
    #     npm install
    #     npx webpack
